body{color:#000;background:#fff;font:normal 90%/1.5em 'Helvetica Neue',sans-serif}
a{color:#0078c2;text-decoration:none}a:hover{color:#00395c;text-decoration:underline}
hr{margin:0;padding:0;border:none;height:1px;background:#ccc}
legend{font-weight:bold}
h1,h2,h3,h4,h5,h6{font-weight:bold;margin:1em 0}
h1{font-size:1.538em}
h2{font-size:1.385em}
h3{font-size:1.231em}
h4{font-size:1.154em}
h5,h6{font-size:1.077em}
p{margin:1em 0}
dl{margin:0 0 1em}
dl dd,dl dl{margin-left:1.5em;margin-bottom:1em}
blockquote{margin:1em 1.5em}
address{font-style:italic}
u,ins{text-decoration:underline}
s,strike,del{text-decoration:line-through}
big{font-size:larger}
small{font-size:smaller}
sub{vertical-align:sub;font-size:smaller;line-height:normal}
sup{vertical-align:super;font-size:smaller;line-height:normal}
nobr{white-space:nowrap}
abbr,acronym{border-bottom:dotted 1px}
ul,.block ul,.item-list ul{list-style-type:disc;list-style-image:none;margin:.25em 0 .25em 1.5em;}
.item-list .pager li{padding:.5em}
.item-list ul li,li.leaf,ul.menu li{list-style-type:disc;list-style-image:none}
ul.menu li{margin:0}
ol{list-style-type:decimal;margin:.25em 0 .25em 2em;}
.item-list ul li.collapsed,ul.menu li.collapsed{list-style-image:url(../../misc/menu-collapsed.png);list-style-type:disc}
.item-list ul li.expanded,ul.menu li.expanded{list-style-image:url(../../misc/menu-expanded.png);list-style-type:circle}
quote,code{margin:.5em 0}
code,pre,kbd{font-size:1.231em}
pre{margin:.5em 0;white-space:pre-wrap}
#skip-link{margin-top:0;position:absolute;left:50%;margin-left:-5.25em;width:auto;z-index:50}
#skip-link a,#skip-link a:link,#skip-link a:visited{display:block;background:#444;color:#fff;font-size:.94em;padding:1px 10px 2px 10px;text-decoration:none;-moz-border-radius:0 0 10px 10px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;border-radius:0 0 10px 10px}
#skip-link a:hover,#skip-link a:focus,#skip-link a:active{outline:0}
#menu{padding:0 3%;background-color:#e6e6e6;color:#444;border-top:.2em solid #0078c2}
#menu:after{content:".";display:block;clear:both;height:0;overflow:hidden}
#menu a{color:#444}#menu a:hover{color:#000}
#menu ul.menu{float:left;margin:0;padding:0}
#menu ul.menu li{display:inline;list-style:none}
#menu ul.menu li a{display:none}
#menu ul.menu ul.menu li a{font-size:1.1em;font-weight:200;display:block;float:left;padding:.75em 1em}#menu ul.menu ul.menu li a:hover,#menu ul.menu ul.menu li a.active-trail{background:#fff}
#menu ul.menu ul.menu li a.active-trail{font-weight:600}
#menu ul.menu:after{content:".";display:block;clear:both;height:0;overflow:hidden}
#menu ul.menu ul.menu ul.menu{display:none}
#branding{overflow:hidden;padding:1.5em 3% 0 3%;position:relative;background-color:#ddd;color:#333}
#branding div.breadcrumb{font-size:.9em;padding-bottom:.5em}
#branding div.breadcrumb a{color:#999}#branding div.breadcrumb a:hover{color:#666}
#branding div.block{position:relative;float:right;width:240px;padding-left:10px;background:#333}
#branding div.block form label{display:none}
#branding div.block form div.form-item{float:left;border:0;margin:0;padding:0}
#branding div.block form input.form-text{width:140px;margin-right:10px;}
#branding div.block form input.form-submit{text-align:center;width:80px}
#help{font-size:.923em;margin:1em 0;border-bottom:1px solid #ccc}
#help p{color:#555;font-size:1.2em;line-height:1.7em;font-style:italic;margin:0 0 1em}
#help div.more-help-link{text-align:right;}
#page-title{background:#333;padding-top:20px}
#branding h1.page-title{color:#333;margin:0;padding-bottom:.5201em;font-weight:normal;float:left;position:relative;top:.2em}
#console{margin:9px 0 1em}
ul.primary{float:right;border-bottom:none;text-transform:uppercase;margin:0;padding-top:0}
ul.primary:after{content:".";display:block;clear:both;height:0;overflow:hidden}
ul.primary li{float:left;list-style:none;margin:0 2px}
ul.primary li a:link,ul.primary li a.active,ul.primary li a:active,ul.primary li a:visited,ul.primary li a:hover,ul.primary li.active a{display:block;float:left;line-height:1em;padding:.8em 1.3em;background-color:#a6a7a2;color:#333;font-weight:bold}
ul.primary li.active a,ul.primary li.active a.active,ul.primary li.active a:active,ul.primary li.active a:visited{background-color:#fff;border-color:#c9cac4}
ul.primary li a:hover{color:#fff}
ul.primary li.active a:hover{color:#000}
.tabs-secondary{clear:both}
ul.secondary{float:right;font-size:.923em;padding:0 3px 5px;line-height:1.385em;overflow:hidden;background-color:#fff}
ul.secondary li{margin:0 5px;float:none;}
ul.secondary li a{background-color:#ddd;color:#000;display:inline-block}
ul.secondary li a,ul.secondary li a:hover,ul.secondary li.active a,ul.secondary li.active a.active{padding:2px 1em;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px}
ul.secondary li a:hover,ul.secondary li.active a,ul.secondary li.active a.active{color:#fff;background:#666}
#content{clear:left}
#page{padding:20px 0 40px 0;margin-right:3%;margin-left:3%;background:#fff;position:relative;color:#333}
#secondary-links ul.links li{padding:0 1em 1em 0;}
#secondary-links ul.links li a{font-size:.923em;background:#777;color:#fff;text-align:center;padding:5px;height:55px;width:80px;overflow:hidden;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#secondary-links ul.links li a:hover{background:#999}
ul.links li,ul.inline li{padding-right:1em;}
ul.inline li{display:inline}
#secondary-links ul.links li.active-trail a,#secondary-links ul.links li a.active{background:#333}
ul.admin-list li{position:relative;padding-left:30px;padding-top:9px;border-top:1px solid #ccc;margin-left:0;margin-bottom:1em;background:url(images/list-item.png) no-repeat 0 11px;list-style-type:none;list-style-image:none}
.admin-panel .item-list ul,ul.admin-list{margin:0;padding:0}
.admin-panel .item-list ul,ul.admin-list.compact{margin:8px 0}
.admin-panel .item-list li,ul.admin-list.compact li{border:none;background:none;margin:0 0 .75em;line-height:1;padding:0}
ul.admin-list li:last-child{border-bottom:none}
ul.admin-list li a{margin-left:-30px;padding:0 0 4px 30px;min-height:0}
ul.admin-list.compact li a{margin-left:0;padding:0}
ul.admin-list li div.description a{margin-left:0;padding:0;min-height:inherit}
div.submitted{color:#898989}
table{width:100%;font-size:.923em;margin:0 0 1em;border:1px solid #bebfb9}
table td,table th{vertical-align:middle;padding:8px 1em;border:0;color:#000}
tr.even,tr.odd{border-width:0 1px 0 1px;border-style:solid;border-color:#bebfb9;background:#f3f4ee}
tr.odd{background:#fff}
tr.drag{background:#fe7}
tr.drag-previous{background:#ffb}
table th{text-transform:uppercase;background:#e1e2dc;font-weight:normal;border-width:1px;border-style:solid;border-color:#bebfb9;padding:3px 1em}
table th.active{background:#bdbeb9}
table th a{display:block;position:relative}
table th.active a{padding:0 25px 0 0;}
table th.active img{position:absolute;top:3px;right:3px;}
table td.active{background:#e9e9dd}
table tr.odd td.active{background:#f3f4ee}
table tr.selected td.active,table tr.selected td{background:#ffc;border-color:#eeb}
table.system-status-report tr{border-bottom:1px solid #ccc}
table.system-status-report tr.ok{color:#255b1e;background-color:#e5ffe2}
table.system-status-report tr.info{color:#040f37;background-color:#bdf}
table.system-status-report tr.warning{color:#840;background-color:#fffce5}
table.system-status-report tr.error{color:#8c2e0b;background-color:#fef5f1}
tr td:last-child{border-right:1px solid #bebfb9;}
fieldset{border:1px solid #ccc;padding:2.5em 0 0 0;position:relative;margin:1em 0}
fieldset .fieldset-legend{margin-top:.5em;padding-left:15px;position:absolute;text-transform:uppercase}
fieldset .fieldset-wrapper{padding:0 13px 13px 15px;}
fieldset.collapsed{background-color:transparent}
html.js fieldset.collapsed{border-width:1px;height:auto}
fieldset fieldset{background-color:#fff}
fieldset fieldset fieldset{background-color:#f8f8f8}
.form-item{padding:9px 0;margin:0 0 1em}
.form-item input#edit-title{font-size:1.25em;line-height:1.6em}
.filter-wrapper .form-item,div.teaser-checkbox .form-item,.form-item .form-item{padding:5px 0;margin:0;border:0}
.form-type-checkbox{padding:0}
.text-format-wrapper .form-item{padding-bottom:0}
.form-item label{margin:0;padding:0}
.form-item label.option{font-size:.923em;text-transform:none}
.form-item label.option input{vertical-align:middle}
.form-disabled input.form-autocomplete,.form-disabled input.form-text,.form-disabled input.form-file,.form-disabled textarea.form-textarea,.form-disabled select.form-select{background-color:#eee;color:#777}
.filter-wrapper{border-top:0;padding:1em 2px}
.filter-wrapper .fieldset-wrapper{padding:0 6px}
.filter-wrapper .form-item,.filter-wrapper .filter-guidelines,.filter-wrapper .filter-help{font-size:.923em;padding:2px 0 0 0;}
.views-exposed-form{padding:0 13px;border:1px solid #ccc}
ul.tips,div.description,.form-item div.description{margin:5px 0;line-height:1.231em;font-size:.923em;color:#666}
ul.tips li{margin:.25em 0 .25em 1.5em;}
body div.form-type-radio div.description,body div.form-type-checkbox div.description{margin-left:1.5em;}
input.form-submit,a.button{cursor:pointer;padding:4px 17px;margin-bottom:1em;margin-right:1em;color:#5a5a5a;text-align:center;font-weight:normal;font-size:1.077em;font-family:'Helvetica Neue',sans-serif;border:1px solid #e4e4e4;border-bottom:1px solid #b4b4b4;border-left-color:#d2d2d2;border-right-color:#d2d2d2;background:url(images/buttons.png) 0 0 repeat-x;-moz-border-radius:1.5em;-webkit-border-radius:1.5em;border-radius:1.5em}
a.button:link,a.button:visited,a.button:hover,a.button:active{text-decoration:none;color:#5a5a5a}
input.form-submit:active{background:#666;color:#fff;border-color:#555;text-shadow:#222 0 -1px 0}
input.form-button-disabled,input.form-button-disabled:active{background:#eee none;border-color:#eee;text-shadow:none;color:#999}
input.form-autocomplete,input.form-text,input.form-file,textarea.form-textarea,select.form-select{padding:4px;border:1px solid #ccc;border-top-color:#999;background:#fff;color:#333;background-color:#f2f2f2;font-size:12px;line-height:1.4em;-webkit-transition:background-color .2s ease-in;-moz-transition:background-color .2s ease-in;transition:background-color .2s ease-in}
input.form-text:focus,input.form-file:focus,textarea.form-textarea:focus,select.form-select:focus{color:#000;border-color:#ace;background-color:#fff}
html.js input.form-autocomplete{background-position:100% 4px}
html.js input.throbbing{background-position:100% -16px}
ul.action-links{margin:.75em 0 1.25em 0;padding:0}ul.action-links li{display:inline;margin:0;padding:0;list-style:none}ul.action-links li a{display:inline-block;padding:.4em 1em;border:1px solid #ccc;font-size:1.1em;background:#f3f3f3;background:-moz-linear-gradient(top, #f3f3f3 0, #e7e7e7 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(100%, #e7e7e7));background:-webkit-linear-gradient(top, #f3f3f3 0, #e7e7e7 100%);background:-o-linear-gradient(top, #f3f3f3 0, #e7e7e7 100%);background:-ms-linear-gradient(top, #f3f3f3 0, #e7e7e7 100%);background:linear-gradient(to bottom, #f3f3f3 0, #e7e7e7 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e7e7e7', GradientType=0);-webkit-border-radius:1.5em;-moz-border-radius:1.5em;border-radius:1.5em;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;transition:all .3s linear}ul.action-links li a:before{content:'\002B';margin-right:.5em;font-weight:700;color:#000}
ul.action-links li a:hover{background-color:#e6e6e6;text-decoration:none}
#diff-inline-form select,div.filter-options select{padding:0}
div.admin .right,div.admin .left{width:49%;margin:0}
div.admin-panel,div.admin-panel .body{padding:0;clear:left}
div.admin-panel{margin:0 0 1em;padding:9px;background:#f8f8f8;border:1px solid #ccc}
div.admin-panel h3{font-size:.923em;text-transform:uppercase;margin:0;padding-bottom:9px}
#system-themes-page h2{font-weight:normal;text-transform:uppercase}
.theme-selector h3{font-weight:normal}
.theme-default h3{font-weight:bold}
.system-themes-list-enabled .theme-selector h3{margin-top:0}
div.admin-options{background:#f8f8f8;line-height:30px;height:30px;padding:9px;border:1px solid #ccc;margin:0 0 1em}
div.admin-options label{text-transform:uppercase;font:0.846em/1.875em Lucida Grande,Lucida Sans Unicode,sans-serif}
div.admin-options label,div.admin-options div.form-item{margin-right:10px;float:left;}
div.admin-options div.form-item{padding:0;border:0}
.versions table.version{border:none}
body.in-maintenance #sidebar-first{float:left;width:200px}
body.in-maintenance #content{float:right;width:550px;padding-right:1.5em;clear:none}
body.in-maintenance #page{overflow:auto;width:770px;margin:0 auto;padding-top:2em}
body.in-maintenance #branding h1{width:770px;margin:0 auto;float:none}
body.in-maintenance .form-radios .form-type-radio{padding:2px 0}
body.in-maintenance div.form-item:after{content:"";display:none;clear:none}
body.in-maintenance .form-submit{display:block}
body.in-maintenance #logo{margin-bottom:1.5em;max-width:180px}
ol.task-list{margin-left:0;list-style-type:none;list-style-image:none}
ol.task-list li{padding:.5em 1em .5em 1.5em;color:#adadad}
ol.task-list li.active{background:transparent url(images/task-item.png) no-repeat 3px 50%;padding:.5em 1em .5em 1.5em;color:#000}
ol.task-list li.done{background:transparent url(images/task-check.png) no-repeat 0 50%;color:#008000}
.overlay #branding{background-color:#fff;padding-top:15px}
.overlay #branding h1.page-title,.overlay #left,.overlay #footer{display:none}
.overlay #page{margin:0;padding:0 1.5em}
.overlay #branding div.breadcrumb{float:left;position:relative;z-index:10}
#overlay-tabs{bottom:-1px;font-size:1.54em;line-height:1.54em;margin:0}
#overlay-tabs li{margin:0 -2px}
.overlay ul.secondary{background:transparent none;margin:-1.4em 0 .3em 0;overflow:visible}
.overlay #content{padding:0}
h1#overlay-title{font-weight:normal}
div.add-or-remove-shortcuts{float:left;padding-top:6px;padding-left:6px;}
#dashboard .dashboard-region div.block h2{background:#e0e0d8}
#dashboard div.block h2{margin:0;font-size:1em;padding:3px 1em}
#dashboard div.block div.content{padding:10px 5px 5px 5px;}
#dashboard div.block div.content ul.menu{margin-left:1.5em;}
#dashboard .dashboard-region .block{border:#ccc 1px solid}
#field-display-overview input.field-formatter-settings-edit{margin:0;padding:1px 8px}
#field-display-overview tr.field-formatter-settings-changed{background:#ffb}
#field-display-overview tr.drag{background:#fe7}
#field-display-overview tr.field-formatter-settings-editing{background:#d5e9f2}
#field-display-overview .field-formatter-settings-edit-form .form-item{margin:1em 0}
#field-display-overview .field-formatter-settings-edit-form .form-submit{margin-bottom:0}
#dashboard div#block-node-recent div.content{padding:0}
#block-node-recent table,#block-node-recent tr{border:none}
#block-node-recent .more-link{padding:0 5px 5px 0;}
#user-login-form .openid-links{margin-left:0;}
#user-login-form .openid-links .user-link{margin-left:1.5em;}
#overlay-disable-message{background-color:#addafc}
#overlay-disable-message a,#overlay-disable-message a:visited{color:#000}
#overlay-disable-message a:focus,#overlay-disable-message a:active{outline:none;text-decoration:underline}
.overlay-disable-message-focused a{padding:.4em .6em}
.overlay-disable-message-focused #overlay-dismiss-message{background-color:#59a0d8;color:#fff;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
#admin-menu{padding-bottom:2px;background:#222;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.clearfixafter{content:".";display:block;clear:both;height:0;overflow:hidden}
.transition{-webkit-transition:all .3s linear;-moz-transition:all .3s linear;transition:all .3s linear}
